# Working with Dates and Times

In [1]:
import pandas as pd
import datetime as dt;

## Review of Python's datetime Module
- The `datetime` module is built into the core Python programming language.
- The common alias for the `datetime` module is `dt`.
- A module is a Python source file; think of like an internal library that Python loads on demand.
- The `datetime` module includes `date` and `datetime` classes for representing dates and datetimes.
- The `date` constructor accepts arguments for year, month, and day. Python defaults to 0 for any missing values.
- The `datetime` constructor accepts arguments for year, month, day, hour, minute, and second.

In [2]:
day=dt.date(2025,12,15)
day.year
day.day

15

In [3]:
sometime=dt.datetime(2025,12,15,4,56,23)
sometime.second
sometime.day

15

## The Timestamp and DatetimeIndex Objects

- Pandas ships with several classes related to datetimes.
- The **Timestamp** is similar to Python's **datetime** object (but with expanded functionality).
- A **DatetimeIndex** is an index of **Timestamp** objects.
- The **Timestamp** constructor accepts a string, a **datetime** object, or equivalent arguments to the **datetime** class.

In [4]:
pd.Timestamp(2020,3,18)
pd.Timestamp(2020,3,18,18,23,45)
pd.Timestamp(dt.date(2028,3,1))
pd.Timestamp(dt.datetime(2028,3,1,14))
pd.Timestamp("2025-01-01")
pd.Timestamp("2020/2/1")
pd.Series(pd.Timestamp("2020-01-9 8:3:3")).iloc[0]

Timestamp('2020-01-09 08:03:03')

In [5]:
pd.DatetimeIndex(["2025-01-01","2025-02-01"])

DatetimeIndex(['2025-01-01', '2025-02-01'], dtype='datetime64[ns]', freq=None)

In [6]:
index=pd.DatetimeIndex([
    dt.date(2026,1,1),
    dt.date(2025,1,1),
])
index

DatetimeIndex(['2026-01-01', '2025-01-01'], dtype='datetime64[ns]', freq=None)

In [7]:
index[0]
type(index[0])

pandas._libs.tslibs.timestamps.Timestamp

## Create Range of Dates with pd.date_range Function
- The `date_range` function generates and returns a **DatetimeIndex** holding a sequence of dates.
- The function requires 2 of the 3 following parameters: `start`, `end`, and `period`.
- With `start` and `end`, Pandas will assume a daily period/interval.
- Every element within a **DatetimeIndex** is a **Timestamp**.

In [8]:
pd.date_range(start="2025-01-01",end="2025-01-08")
pd.date_range(start="2025-01-01",end="2025-01-08",freq="d")
pd.date_range(start="2025-01-01",end="2025-01-08",freq="2d")

DatetimeIndex(['2025-01-01', '2025-01-03', '2025-01-05', '2025-01-07'], dtype='datetime64[ns]', freq='2D')

In [9]:
pd.date_range(start="2024-01-01",end="2024-01-08",freq="b") #business days=Monday-Friday

DatetimeIndex(['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04',
               '2024-01-05', '2024-01-08'],
              dtype='datetime64[ns]', freq='B')

In [10]:
pd.date_range(start="2024-01-01",end="2024-01-31",freq="W")

DatetimeIndex(['2024-01-07', '2024-01-14', '2024-01-21', '2024-01-28'], dtype='datetime64[ns]', freq='W-SUN')

In [11]:
pd.date_range(start="2024-01-01",end="2024-01-31",freq="W-FRI")
pd.date_range(start="2024-01-01",end="2024-01-31",freq="W-THU")

pd.date_range(start="2024-01-01",end="2024-01-31",freq="H")
pd.date_range(start="2024-01-01",end="2024-01-31",freq="6H")

pd.date_range(start="2024-01-01",end="2024-12-31",freq="M")
pd.date_range(start="2024-01-01",end="2024-12-31",freq="MS")
pd.date_range(start="2024-01-01",end="2050-12-31",freq="A")

pd.date_range(start="2024-01-01",freq="D", periods=25)
pd.date_range(start="2024-01-01",freq="3D", periods=25)
pd.date_range(start="2024-01-01",freq="B", periods=100)

pd.date_range(end="2024-01-01",freq="D", periods=25)
pd.date_range(end="2024-01-01",freq="B", periods=25)

DatetimeIndex(['2023-11-28', '2023-11-29', '2023-11-30', '2023-12-01',
               '2023-12-04', '2023-12-05', '2023-12-06', '2023-12-07',
               '2023-12-08', '2023-12-11', '2023-12-12', '2023-12-13',
               '2023-12-14', '2023-12-15', '2023-12-18', '2023-12-19',
               '2023-12-20', '2023-12-21', '2023-12-22', '2023-12-25',
               '2023-12-26', '2023-12-27', '2023-12-28', '2023-12-29',
               '2024-01-01'],
              dtype='datetime64[ns]', freq='B')

## The dt Attribute
- The `dt` attribute reveals a `DatetimeProperties` object with attributes/methods for working with datetimes. It is similar to the `str` attribute for string methods.
- The `DatetimeProperties` object has attributes like `day`, `month`, and `year` to reveal information about each date in the **Series**.
- The `day_name` method returns the written day of the week.
- Attributes like `is_month_end` and `is_quarter_start` return Boolean **Series**.

In [12]:
bunch_of_dates=pd.Series(pd.date_range(start="2000-01-01",end="2020-01-01", freq="24d 3h"))
bunch_of_dates.head()

0   2000-01-01 00:00:00
1   2000-01-25 03:00:00
2   2000-02-18 06:00:00
3   2000-03-13 09:00:00
4   2000-04-06 12:00:00
dtype: datetime64[ns]

In [13]:
bunch_of_dates.dt.day
bunch_of_dates.dt.month
bunch_of_dates.dt.year
bunch_of_dates.dt.day_of_year
bunch_of_dates.dt.hour
bunch_of_dates.dt.day_name()

0      Saturday
1       Tuesday
2        Friday
3        Monday
4      Thursday
         ...
298    Saturday
299     Tuesday
300      Friday
301      Monday
302    Thursday
Length: 303, dtype: object

In [14]:
bunch_of_dates.dt.is_month_end
bunch_of_dates.dt.is_month_start

0       True
1      False
2      False
3      False
4      False
       ...
298    False
299     True
300    False
301    False
302    False
Length: 303, dtype: bool

In [15]:
bunch_of_dates.dt.is_quarter_start
bunch_of_dates.dt.is_quarter_end

0      False
1      False
2      False
3      False
4      False
       ...
298    False
299    False
300    False
301    False
302    False
Length: 303, dtype: bool

## Selecting Rows from a DataFrame with a DateTimeIndex
- The `iloc` accessor is available for index position-based extraction.
- The `loc` accessor accepts strings or **Timestamps** to extract by index label/value. Note that Python's `datetime` objects will not work.
- Use list slicing to extract a sequence of dates. The `truncate` method is another alternative.

In [16]:
ibm=pd.read_csv("ibm.csv",parse_dates=["Date"],index_col="Date").sort_index()
ibm.head()

               Open     High      Low    Close         Volume
Date
1962-01-02  5.04610  5.04610  4.98716  4.98716  593562.955237
1962-01-03  4.98716  5.03292  4.98716  5.03292  445175.034277
1962-01-04  5.03292  5.03292  4.98052  4.98052  399513.586679
1962-01-05  4.97389  4.97389  4.87511  4.88166  559321.480565
1962-01-08  4.88166  4.88166  4.75059  4.78972  833273.771393

In [17]:
ibm.iloc[300]
ibm.loc["2014-03-04"]

Open      1.288700e+02
High      1.298270e+02
Low       1.288020e+02
Close     1.293290e+02
Volume    6.825202e+06
Name: 2014-03-04 00:00:00, dtype: float64

In [18]:
ibm.loc[pd.Timestamp("2014-03-04")]

Open      1.288700e+02
High      1.298270e+02
Low       1.288020e+02
Close     1.293290e+02
Volume    6.825202e+06
Name: 2014-03-04 00:00:00, dtype: float64

In [19]:
ibm.loc["2014-03-04":"2014-12-31"]
ibm.loc[pd.Timestamp(2014,3,4):pd.Timestamp(2014,12,31)]
ibm.truncate("2014-03-04","2014-12-31")
ibm.loc["2014-03-04","Close"]
ibm.loc["2014-03-04","High":"Close"]

High     129.827
Low      128.802
Close    129.329
Name: 2014-03-04 00:00:00, dtype: float64

## The DateOffset Object
- A **DateOffset** object adds time to a **Timestamp** to arrive at a new **Timestamp**.
- The **DateOffset** constructor accepts `days`, `weeks`, `months`, `years` parameters, and more.
- We can pass a **DateOffset** object to the `freq` parameter of the `pd.date_range` function.

In [20]:
ibm.head()

               Open     High      Low    Close         Volume
Date
1962-01-02  5.04610  5.04610  4.98716  4.98716  593562.955237
1962-01-03  4.98716  5.03292  4.98716  5.03292  445175.034277
1962-01-04  5.03292  5.03292  4.98052  4.98052  399513.586679
1962-01-05  4.97389  4.97389  4.87511  4.88166  559321.480565
1962-01-08  4.88166  4.88166  4.75059  4.78972  833273.771393

In [21]:
ibm.index+pd.DateOffset(days=5)
ibm.index-pd.DateOffset(days=5)
ibm.index+pd.DateOffset(months=5)
ibm.index+pd.DateOffset(years=5)
ibm.index+pd.DateOffset(hours=5)
ibm.index+pd.DateOffset(days=5,years=2)

DatetimeIndex(['1964-01-07', '1964-01-08', '1964-01-09', '1964-01-10',
               '1964-01-13', '1964-01-14', '1964-01-15', '1964-01-16',
               '1964-01-17', '1964-01-20',
               ...
               '2025-10-03', '2025-10-04', '2025-10-07', '2025-10-08',
               '2025-10-09', '2025-10-10', '2025-10-11', '2025-10-14',
               '2025-10-15', '2025-10-16'],
              dtype='datetime64[ns]', name='Date', length=15546, freq=None)

In [22]:
birthdays=pd.date_range(start="2003-01-03",end="2023-01-03",freq=pd.DateOffset(years=1))
birthdays

DatetimeIndex(['2003-01-03', '2004-01-03', '2005-01-03', '2006-01-03',
               '2007-01-03', '2008-01-03', '2009-01-03', '2010-01-03',
               '2011-01-03', '2012-01-03', '2013-01-03', '2014-01-03',
               '2015-01-03', '2016-01-03', '2017-01-03', '2018-01-03',
               '2019-01-03', '2020-01-03', '2021-01-03', '2022-01-03',
               '2023-01-03'],
              dtype='datetime64[ns]', freq='<DateOffset: years=1>')

In [23]:
ibm[ibm.index.isin(birthdays)]

                Open      High       Low     Close        Volume
Date
2003-01-03   53.0228   53.6454   52.7037   53.6454  9.033921e+06
2005-01-03   65.0296   65.1145   63.8975   64.2263  8.068536e+06
2006-01-03   54.1734   54.2388   53.0960   53.9187  1.782995e+07
2007-01-03   63.8516   64.6548   63.2495   63.9092  1.385383e+07
2008-01-03   68.8786   69.3627   68.3185   68.9254  1.145857e+07
2011-01-03   96.7119   97.3579   96.6729   96.8953  7.004292e+06
2012-01-03  124.2740  125.5720  123.7860  123.9810  8.483556e+06
2013-01-03  132.4230  132.8130  131.5930  132.1590  5.386033e+06
2014-01-03  128.1780  129.2610  127.8360  128.7440  5.891055e+06
2017-01-03  126.5090  127.1630  125.7580  126.6750  3.873468e+06
2018-01-03  123.8060  125.7580  123.0050  124.7030  1.199760e+07
2019-01-03   94.1989   94.4907   92.6804   92.8765  5.284949e+06
2020-01-03  115.1290  116.2420  115.1190  115.7840  2.753980e+06
2022-01-03  127.7290  129.8560  127.3190  129.6130  4.839330e+06
2023-01-03  141.1000  141.9000  140.4800  141.5500  3.338829e+06

## Specialized Date Offsets
- Pandas nests more specialized date offsets in `pd.tseries.offsets`.
- We can add a different amount of time to each date (for example, month end, quarter end, year begin)

In [24]:
ibm.head()

               Open     High      Low    Close         Volume
Date
1962-01-02  5.04610  5.04610  4.98716  4.98716  593562.955237
1962-01-03  4.98716  5.03292  4.98716  5.03292  445175.034277
1962-01-04  5.03292  5.03292  4.98052  4.98052  399513.586679
1962-01-05  4.97389  4.97389  4.87511  4.88166  559321.480565
1962-01-08  4.88166  4.88166  4.75059  4.78972  833273.771393

In [25]:
ibm.index+pd.tseries.offsets.MonthEnd()
ibm.index-pd.tseries.offsets.MonthEnd()

DatetimeIndex(['1961-12-31', '1961-12-31', '1961-12-31', '1961-12-31',
               '1961-12-31', '1961-12-31', '1961-12-31', '1961-12-31',
               '1961-12-31', '1961-12-31',
               ...
               '2023-08-31', '2023-08-31', '2023-09-30', '2023-09-30',
               '2023-09-30', '2023-09-30', '2023-09-30', '2023-09-30',
               '2023-09-30', '2023-09-30'],
              dtype='datetime64[ns]', name='Date', length=15546, freq=None)

In [26]:
ibm.index+pd.tseries.offsets.QuarterEnd()
ibm.index+pd.tseries.offsets.QuarterBegin(startingMonth=1)

ibm.index+pd.tseries.offsets.YearEnd()
ibm.index+pd.tseries.offsets.YearBegin()

DatetimeIndex(['1963-01-01', '1963-01-01', '1963-01-01', '1963-01-01',
               '1963-01-01', '1963-01-01', '1963-01-01', '1963-01-01',
               '1963-01-01', '1963-01-01',
               ...
               '2024-01-01', '2024-01-01', '2024-01-01', '2024-01-01',
               '2024-01-01', '2024-01-01', '2024-01-01', '2024-01-01',
               '2024-01-01', '2024-01-01'],
              dtype='datetime64[ns]', name='Date', length=15546, freq=None)

In [31]:
ibm.index+pd.tseries.offsets.QuarterEnd()
ibm.index+pd.tseries.offsets.QuarterBegin()

DatetimeIndex(['1962-03-01', '1962-03-01', '1962-03-01', '1962-03-01',
               '1962-03-01', '1962-03-01', '1962-03-01', '1962-03-01',
               '1962-03-01', '1962-03-01',
               ...
               '2023-12-01', '2023-12-01', '2023-12-01', '2023-12-01',
               '2023-12-01', '2023-12-01', '2023-12-01', '2023-12-01',
               '2023-12-01', '2023-12-01'],
              dtype='datetime64[ns]', name='Date', length=15546, freq=None)

## Timedeltas
- A **Timedelta** is a pandas object that represents a duration (an amount of time).
- Subtracting two **Timestamp** objects will yield a **Timedelta** object (this applies to subtracting a **Series** from another **Series**).
- The **Timedelta** constructor accepts parameters for time as well as string descriptions.

In [34]:
pd.Timestamp("2023-12-23 12:30:00")-pd.Timestamp("2003-01-03 1:30:00")

Timedelta('7659 days 11:00:00')

In [43]:
pd.Timedelta(days=3, hours=2, minutes=3)
pd.Timedelta("5 minutes")
pd.read_csv("ecommerce.csv")

      ID order_date delivery_date
0      1    5/24/98        2/5/99
1      2    4/22/92        3/6/98
2      4    2/10/91       8/26/92
3      5    7/21/92      11/20/97
4      7     9/2/93       6/10/98
..   ...        ...           ...
496  990    6/24/91        2/2/96
497  991     9/9/91       3/30/98
498  993   11/16/90       4/27/98
499  994     6/3/93       6/13/93
500  997     1/4/90       10/3/91

[501 rows x 3 columns]

In [42]:
e=pd.read_csv("ecommerce.csv",index_col="ID",parse_dates=["order_date","delivery_date"], date_format="%m/%d/%y" )
e.head()

   order_date delivery_date
ID
1  1998-05-24    1999-02-05
2  1992-04-22    1998-03-06
4  1991-02-10    1992-08-26
5  1992-07-21    1997-11-20
7  1993-09-02    1998-06-10

In [47]:
e["delivery time"]=e["delivery_date"]-e["order_date"]
e.head()

   order_date delivery_date delivery time
ID
1  1998-05-24    1999-02-05      257 days
2  1992-04-22    1998-03-06     2144 days
4  1991-02-10    1992-08-26      563 days
5  1992-07-21    1997-11-20     1948 days
7  1993-09-02    1998-06-10     1742 days

In [50]:
e["delivery_date"]+e["delivery time"]

ID
1     1999-10-20
2     2004-01-18
4     1994-03-12
5     2003-03-22
7     2003-03-18
         ...
990   2000-09-12
991   2004-10-18
993   2005-10-06
994   1993-06-23
997   1993-07-01
Length: 501, dtype: datetime64[ns]